@import '../fonts.css';
section{
    overflow: hidden;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}
nav{
    position: relative;
    z-index: 3;
    padding-top: 20px;
    transition: all .5s;
}

.for-bg{
    background: url(../img/—Pngtree—and-islam-golden-pattern-png_4276597.png) repeat;
    background-size: 40px;
    background-attachment: fixed;
}



.burger {
    width: 25px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    z-index: 100000000;
    margin-right: 40px;
    margin-top: 3px;
    right: 0;
}

.burger__line {
    display: block;
    width: 100%;
    height: 3px;
    background: rgb(255, 255, 255);
    left: 0;
    position: absolute;
    transition: 0.3s all linear;
    display:  none;
}

.burger__line_first {
    top: 0;
}

.burger__line_second,
.burger__line_third {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line_fourth {
    bottom: 0;
}

.burger_active .burger__line_first,
.burger_active .burger__line_fourth {
    opacity: 0;
}

.burger_active .burger__line_second {
    transform: translateY(-50%) rotate(45deg);
}

.burger_active .burger__line_third {
    transform: translateY(-50%) rotate(-45deg);
}







header{
    background: url(../img/header_bg.jpg)no-repeat center top / cover;
    position: relative;
}
.back{
    background: rgba(0, 0, 0, 0.556);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.logo{
    width: 50px;
}
.logo img{
    width: 100%;
}
.nav-ul li a{
color: white;
font-size: 16px;
font-family: 'mon';
margin: 0 14px;
transition: .5s;
}
.nav-ul li a:hover{
    color: rgb(255, 204, 0);
    text-shadow: 1px 0px 10px gold;
}
.dropdowm{
    position: relative;
}
.drop{
    color: white;
    font-size: 15px;
    font-family: 'mon';
    cursor: pointer;
}
.drop-inner{
    background: white;
border-radius: 10px;
padding: 10px 20px;
position: absolute;
display: none;
}
.drop-inner.active{
    display: block;
}
.drop-inner li a{
    color: black;
    font-size: 16px;
    font-family: 'mon';
    transition: .3s;
}
.drop-inner li a:hover{
    text-shadow: 1px 0px 10px black;
}
.for-up{
    transition: .3s;
}
.for-up.active{
    transform: rotate(180deg);
}
.contact{
    padding: 12px 22px;
    border: 1px solid white;
    border-radius: 7px;
}
.header-info{
    position: relative;
    z-index: 1;
    margin-top: 30px;
    padding-bottom: 30px;
}
.header-info h1{
color: white;
font-size: 150px;
font-family: 'zanf';
text-align: center;
}
.info-img{
    width: 70%;
    margin: 0 auto;
}
.info-img img{
    width: 100%;
}
.header-info p{
    color: white;
    font-family: 'mon';
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.header-info a{
    color: white;
    padding: 12px 25px;
    border: 1px solid white;
    border-radius: 30px;
    margin-bottom: 30px;
    display: block;
    width: max-content;
    margin: auto;
    transition: .5s;
}
.header-info a:hover{
    background: white;
    color: black;
    box-shadow: 1px 0px 10px white;
}
.about-1 h3{
color: black;
font-family: 'mon';
font-size: 30px;
text-align: center;
}
.price-list{
    width: 80%;
    margin: 30px auto;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.541);
    padding: 30px;
    margin-bottom: 50px;
    border-radius: 6px;
}
.stable-txt{
    color: black;
    font-family: 'mon';
    font-size: 30px;
}
.top p:nth-child(2){
    color: red;
    font-family: 'mon';
    font-size: 30px;
    text-decoration: line-through;
}
.middle p:nth-child(2){
color: black;
font-family: 'mon';
font-style: bold;
font-size: 35px;
}
.bottom p:nth-child(2){
    color: rgba(0, 0, 0, 0.446);
    font-family: 'mon';
font-size: 30px;
}
.time{
    width: 60%;
    margin: auto;
    background: black;
    border-radius: 5px;
    padding: 30px;
}
.lil-times p:nth-child(1){
color: white;
font-size: 50px;
font-family: 'zan';
text-align: center;
}
.lil-times p:nth-child(2){
    color: rgba(255, 255, 255, 0.618);
    font-size: 20px;
    font-family: 'zan';
    text-align: center;
    }
    .red-notice{
        margin-top: 1rem;
        text-align: center;
        font: normal normal 600 24px/32px mon;
        letter-spacing: 0.48px;
        color: #FF4D4D;
    }
nav.active{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.514);
    padding: 10px 0;
}
.header-info.active{
    padding-top: 100px;
    margin-top: 0 !important;
}
.lil-times{
    position: relative;
}
/* .for-point::before{
content: ':';
display: block;
position: absolute;
left: 0;
top: 0;
text-align: left;
font-size: 50px;
font-family: 'mon';
letter-spacing: 0.56px;
color: #FFFFFF;
} */

/* .for-point::after{
    content: ':';
    display: block;
    position: absolute;
    right: 0;
    text-align: left;
    font-size: 50px;
    top: 0;
    font-family: 'mon';
    letter-spacing: 0.56px;
    color: #FFFFFF;
    height: max-content;
    }
    .for-point2::before{
        content: ':';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        text-align: left;
        font-size: 50px;
        font-family: 'mon';
        letter-spacing: 0.56px;
        color: #FFFFFF;
        } */
        .book-inner{
            width: 90%;
            margin: auto;
        }
.img-inner{
    box-shadow: 1px 0px 10px black;
    padding: 40px 15px;
    border-radius: 10px;
}
.img{
    width: 80%;
    margin: auto;
}
.img img{
    width: 100%;
}
.book-inner{
    cursor: pointer;
}
.book-inner p{
color: black;
font-size: 22px;
font-family: 'mon';
text-align: center;
margin-top: 20px;
}






  .container input:checked ~ .checkmark {
    background-color: rgb(52, 206, 0);
    
  }
.label{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.label input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
    right: 0;
    margin: 10px auto;
  }

  .label input:checked ~ .checkmark:after {
    display: block;
  }
  .checkmark:after {
      content: '';
      position: absolute;
    left: 9px;
    top: 5px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .real-form{
      margin-top: 40px;
  }
.real-form h4{
    color: black;
    font-size: 22px;
    font-family: 'mon';
    text-align: center;
}
.real-inner-form input:nth-child(2){
margin: 0 15px;
}
.real-inner-form input{
    padding: 15px 10px;
    background: rgb(209, 209, 209);
    outline: none;
    border: none;
    border-radius: 6px;
}
.real-inner-form button{
    color: white;
    font-size: 18px;
    font-family: 'mon';
    background: rgb(0, 189, 0);
    border: none;
    border-radius: 6px;
}
.real-inner-form{
    margin: 30px 0;
}
.three-step h3{
    color: black;
    font-family: 'zan';
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.three-step{
    margin: 50px auto;
}
.step-img-inner{
    width: 90%;
    margin: auto;
    box-shadow: 1px 0px 10px black;
    padding: 30px;
    border-radius: 10px;
}
.img2{
    width: 60%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}
.img2 img{
    width: 100%;
}

.inner-step p{
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    font-family: 'mon';
    text-align: center;
    margin: 15px 0;
}

.about h3{
color: black;
font-family: 'zan';
font-size: 50px;
}
.about-us p{
    color: black;
    font-size: 20px;
    font-family: 'mon';
    line-height: 28px;
    font-weight: 500;
    margin-top: 30px;
}
.method{
    margin-top: 30px;
}
.method h3{
    color: black;
    font-family: 'zan';
    font-size: 50px;
    text-align: center;
}
.number{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 183, 0);
    border-radius: 8px;
    color: white;
    font-size: 22px;
    font-family: 'mon';
    position: relative;
    box-shadow: unset 1px 0px 15px rgba(0, 0, 0, 0.377);
}

.number:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.261);
    box-shadow: 1px 0px 10px rgba(255, 255, 255, 0.295);
}


.meth-sec{
    margin: 20px 0;
}
.meth-sec p{
    color: black;
    font-size: 18px;
    font-family: 'mon';
    max-width: 420px;
    margin-left: 25px;
}
.shadows{
    box-shadow: 1px -70px 20px white;
}
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, rgb(255, 183, 0), black);
    border-radius: 25px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to top, rgb(255, 183, 0), black);
  }

  .method a{
    color: white;
    font-size: 18px;
    font-family: 'mon';
    background: rgb(0, 189, 0);
    border: none;
    border-radius: 6px;
    padding: 12px 34px;
    display: block;
    width: max-content;
    margin:30px auto;
  }
.bg-mos{
    background: url(../img/building-architecture-white-dome.jpg) no-repeat center center / cover;
    position: relative;
    background-attachment: fixed;
}
.facts-inner{
    position: relative;
    z-index: 1;
}
.facts{
    padding: 50px 0;
}
.facts h3{
    color: white;
    font-size: 50px;
    font-family: 'zan';
    text-align: center;
    position: relative;
    z-index: 2;
}
.fact{
    margin: 30px 0;
}
.fact p:nth-child(1){
    color: white;
    font-size: 72px;
    font-family: 'mon';
    text-align: center;
}
.fact p:nth-child(2){
    color: white;
    font-size: 18px;
    font-family: 'mon';
    text-align: center;
    width: 50%;
    margin: auto;
}
.bg-pattern{
    background: url(../img/black-and-white-design-wallpaper-preview.jpg);
    padding: 50px 0;
}
.ques h3{
    color: white;
    font-family: 'zan';
    font-size: 50px;
    text-align: center;
}
.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.avatar img{
    width: 100%;
}
.text-place{
    background: rgb(82, 82, 82);
    padding: 7px;
    border-radius: 5px;
    margin-left: 10px;
}
.text-place p{
    color: white;
    font-family: 'mon';
    font-size: 16px;
    
}
.ques-dona{
    margin: 15px 0;
}
.text-place2{
    background: rgb(69, 119, 255);
    margin-right: 10px;
    margin-left: 0;
}
.ques-ans{
    margin-top: 30px;
}
footer{
    position: relative;
    z-index: 3;
}
.bg-footer{
    background: url(../img/header_bg.jpg) no-repeat center top / cover;
    background-attachment: fixed;
}
.logos p{
    color: white;
    font-family: 'mon';
    font-size: 24px;
    max-width: 420px;
    margin-top: 20px;
}
.foot-ul li{
    color: white;
    font-size: 22px;
    font-family: 'mon';
}
.foot-ul li a{
    color: white;
    font-size: 16px;
    font-family: 'mon';
    letter-spacing: 1px;
}
.social i{
    font-size: 22px;
    color: white;
}
.social a{
    color: white;
    font-family: 'mon';
    font-size: 18px;
    margin-left: 15px;
}
.social{
    margin: 15px 0;
}
.create, .create a{
color: white;
font-size: 16px;
font-family: monospace;
text-align: center;
position: relative;
z-index: 2;
padding: 30px 0 10px;
}
.create{
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}




.phone{
    width: 75px;
    height: 75px;
    background-color: rgb(255, 196, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    z-index: 5;
    bottom: 10%;
    right: 5%;
}
.phone i{
    color: rgb(0, 0, 0);
    font-size: 30px;
    animation: anime .3s infinite linear;
    
}
.phone:hover i{
    animation-play-state: paused;
}
@keyframes anime{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.container2 {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea,
  #contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  }
  
  #contact {
    background: #F9F9F9;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  #contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  #contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
  }
  
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
  }
  
  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact input[type="url"]:hover,
  #contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }
  
  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
  }
  
  #contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  
  #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .copyright {
    text-align: center;
  }
  
  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
  }
  
  ::-webkit-input-placeholder {
    color: #888;
  }
  
  :-moz-placeholder {
    color: #888;
  }
  
  ::-moz-placeholder {
    color: #888;
  }
  
  :-ms-input-placeholder {
    color: #888;
  }
.modul2{
    width: 100%;
   height: 100vh; 
   display: flex;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.425);
   position: fixed;
   z-index: 4;
   top: 0;
   right: 0;
   transform: translateX(-100%);
   transition: .5s;
}
.modul2.active{
    transform: translateX(-0%) !important;
}
.x i{
color: white;
font-size: 30px;
cursor: pointer;
transition: .3s;
}
.x i:hover{
    color: rgb(250, 61, 61);
    transform: rotate(180deg);
}
.x{
    position: absolute;
    top: 10%;
    right: 5%;
}
.vid h3{
    color: black;
    font-size: 50px;
    font-family: 'zan';
    text-align: center;
    margin: 30px 0;
}
.vid-youtube iframe{
width: 100%;
height: 560px;
margin-bottom: 30px;
}



.container3 {
	width: 350px;
	height: 350px;
	border-radius: 100%;
	background: linear-gradient(165deg, rgba(255,255,255,1) 0%, rgb(220, 220, 220) 40%, rgb(170, 170, 170) 98%, rgb(10, 10, 10) 100%);
	position: relative;
}

.loader1 {
	margin: 0px;
	background: radial-gradient(#CECECE, #fff);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
    position: fixed;
    z-index: 100000000;
    top: 0;
    right: 0;
    width: 100%;

}
.dsnone{
    display: none !important;
    transition: .5s !important;
}
.loader:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border-bottom: 0 solid #ffffff05;
	
	box-shadow: 
		0 -10px 20px 20px #ffffff40 inset,
		0 -5px 15px 10px #ffffff50 inset,
		0 -2px 5px #ffffff80 inset,
		0 -3px 2px #ffffffBB inset,
		0 2px 0px #ffffff,
		0 2px 3px #ffffff,
		0 5px 5px #ffffff90,
		0 10px 15px #ffffff60,
		0 10px 20px 20px #ffffff40;
	filter: blur(3px);
	animation: 2s rotate linear infinite;
}
.container3 p{
    text-align: center;
    font-size: 72px;
    font-family: 'zanf';
    position: absolute;
    top: 33%;
    right: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.707);
    letter-spacing: 6px;
    text-shadow:		0 -10px 20px 20px #ffffff40; 
}


@keyframes rotate {
	100% {
		transform: rotate(360deg)
	}
}


.alert{
    width: 30%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    position: fixed;
    top: 30px;
    right: 50%;
    left: 35%;
    z-index: 10000000;
    display: none;
}
.dsb{
    display: flex !important;
}
.alert p{
    color: black;
    font-size: 18px;
    font-family: 'mon';

}

.alert a{
    background: rgb(52, 52, 255);
    color: white;
    font-size: 18px;
    font-family: 'mon';
    margin-top: 10px;
    border-radius: 5px;
    padding: 7px 18px;
}
.x2 i{
    color: rgb(174, 174, 174);
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
    }
    .x2 i:hover{
        color: rgb(250, 61, 61);
        transform: rotate(180deg);
    }
    .x2{
        position: absolute;
        top: 10%;
        right: 5%;
    }
.ds{
    display: none !important;
}












    .menu_ul.active {
        transform: translateY(-0%);
    }
    @media(max-width:992px) {
        .menu_ul {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            right: 0;
            justify-content: center;
            transition: 1s;
            z-index: 10000;
            transform: translateY(-100%);
            background: rgba(0, 0, 0, 0.808);
            padding: 0;
            margin: 0;
        }
        .alert{
            width: 60%;
            left: 20%;
        }
        .vid-youtube iframe{
            height: 420px;
            }
        .menu_ul li{
            margin: 20px 0;
        }
        .burger__line{
            display: block;
        }
        .time{
            width: 80%;
        }
        .dropdowm{
            margin-right: 40px;
        }

    }
    @media(max-width:768px){
        .price-list{
            width: 100%;
        }
        .stable-txt{
            font-size: 14px;
        }
        .top p:nth-child(2){
            font-size: 16px;
        }
        .middle p:nth-child(2){
        font-size: 16px;
        }
        .bottom p:nth-child(2){
        font-size: 16px;
        }
        .time{
            width: 100%;
            padding: 30px 10px;
        }
        .ma{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px auto;
        }
        .logos p{
            font-size: 16px;
            text-align: center;
        }
    }
    @media(max-width:576px){
        .price-list{
            width: 100%;
            padding: 10px;
        }
        .about-1 h3{
            font-size: 20px;
        }
        .red-notice{
            font-size: 18px;
        }
        h1{
            font-size: 90px !important;
        }
        .header-info p{
            font-size: 14px;
        }
        .header-info a{
            padding: 7px 10px;
            font-size: 14px;
        }
        .burger{
            margin-right: 15px;
        }
        .lil-times p:nth-child(1){
            font-size: 58px;
        }
        .lil-times p:nth-child(2){
            font-size: 20px;
            font-weight: 100;
        }
        .time{
            padding: 15px 5px;

        }
        .img2{
            width: 70%;
        }
        .step-img-inner{
            padding: 30px 10px;
        }
        .about h3{
            font-size: 50px;
            }
            .about-us p{
                font-size: 16px;
                line-height: 20px;
                margin-top: 10px;
            }
            .for-bg{
                background-size: 20px;
            }
            .real-inner-form input:nth-child(2){
                margin: 15px ;
            }
            .real-inner-form button{
                padding: 10px 0;
            }
            .three-step h3, .facts h3, .ques h3, .vid h3{
                font-size: 50px;
            }
            .fact p:nth-child(1){
                font-size: 30px;
            }
            .fact p:nth-child(2){
                font-size: 16px;
                width: 70%;
            }
            .text-place p{
                font-size: 14px;
            }
            .vid-youtube iframe{
                height: 280px;
                }
                .alert{
                    width: 90%;
                    left: 5%;
                    padding: 30px 5px;
                }
                .alert p{
                    font-size: 15px;
                }
                .alert a{
                    font-size: 15px;
                    padding: 3px 10px;
                }
    }
    @media(max-width:380px){
        .meth-sec p{
            font-size: 15px;
            width: 70%;
            margin-left: auto;
        }
        .method h3{
            font-size: 50px;
        }
        .number{
            width:40px;
            height: 40px;
            font-size: 16px;
            margin-right: 10px;
        }
    }