
@font-face {
    font-family: 'mon';
    src: url(./fonts/Montserrat-Regular.otf);
}
@font-face {
    font-family: 'zan';
    src: url(./fonts/roboto.medium.ttf);
}
@font-face {
    font-family: 'zanf';
    src: url(./fonts/Zanzabar\ D.otf);
}